

.table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid var(--boundry);
    border-radius: var(--radius);
    background-color: var(--asWhite);
    color: var(--grey-1);
    
    tr:hover {
        background-color: var(--grey-6);
    }

    
    .selected {
        background-color: var(--grey-5);
    }

    td {
        padding: var(--pad);
        margin: 0;
        border-block-start: 1px solid var(--boundry);
    
    }

    td:first-child {
        color: var(--grey-0);

    }
}

/**** head border radius + background colour fix ****/ 
.table thead tr th:first-child {
  border-radius: var(--radius) 0 0 0;
}
.table thead tr th:last-child {
    border-radius: 0 var(--radius) 0 0;
  }
/*****/


.tableHead{
    background-color: var(--grey-6);
    text-align: left;

    th {
        font-weight: semibold;
        font-size: larger;
    }

    .headRow {
        display: flex;
        gap: var(--sp3);
        font-size: var(--font-sm);
    }

    .title {
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-weight: bold;
        padding: 0;
    }
}



.tableCell {
    padding: var(--pad);
} 

.filterIcon {
    cursor: pointer;
    position: relative;
    margin-inline-start: var(--sp1);
    padding-block-start: var(--sp1);
    .notFiltered {
        stroke: var(--grey-4);

        &:hover {
            stroke: var(--grey-2);
        }
    }

    .filtered {
        stroke: var(--accent);
    }

}

.filter {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--sp5);
    position: absolute;
    top: 100%;
    padding: var(--sp2) var(--sp3);
    background-color: var(--asWhite);
    border: 1px solid var(--boundry);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.filterIcon:hover > .filter, .filterIcon:focus-within > .filter {
    display: flex;
}

.overrideLeft {
    text-align: left;
}
.overrideRight {
    text-align: right;
}

.overrideCenter {
    text-align: center;
}