:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 100vw;

  /* background-color: aliceblue;
  */

  --header-font-size: calc(1rem + 1.5vw);
  --subheader-font-size: calc(1rem + 1.2vw);

  --primary: #1b2734;
  --secondary: #f5f5f5;
  --accent: rgb(63, 59, 255);
  --background: aliceblue;

  --asWhite: white;
  --asBlack: black;
  --dialogBackground: rgba(0, 0, 0, 0.7);

  --grey-6: #f9fafb;
  --grey-5: #d5d3d3;
  --grey-4: #C0C0C0;
  --grey-3: #A9A9A9;
  --grey-2: #808080;
  --grey-1: #6b7280;
  --grey-0: #111827;
  
  --error-primary: #f44336;
  --error-secondary: #f8d7da;

  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.25rem;

  --sp1: 0.25rem;
  --sp2: 0.5rem;
  --sp3: 0.75rem;
  --sp4: 1rem;
  --sp5: 1.5rem;
  --sp6: 2rem;
  --sp7: 3rem;
  --sp8: 4rem;
  --sp9: 6rem;
  --sp10: 8rem;
  --sp11: 12rem;
  --sp12: 16rem;


  --lg-max-width: 960px;

  --radius: var(--sp2);
  --pad: var(--sp3);

  --boundry: var(--grey-5);
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--background);
}

button {
  border: 1px solid var(--boundry);
  border-radius: var(--radius);
  padding: var(--sp3) var(--sp5);
  cursor: pointer;
  font-size: var(--font-sm);
  font-weight: 600;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  
  }
}

.accentButton {
  background-color: var(--accent);
  color: var(--asWhite);
}

.framed {
  display: flex;
  border: 1px solid var(--boundry);
  border-radius: var(--radius);
  padding: var(--sp3);
  background-color: var(--grey-6);
}